<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 *ngIf="showAdd" class="modal-title" id="addModalLabel" >Add configuration info</h4>
    <h4 *ngIf="!showAdd" class="modal-title" id="addModalLabel" >Update configuration info</h4>
</div>
<div class="modal-body">
    <form id="dataEntryForm">
        <div class="form-group" *ngFor="let prop of order">
            <div [ngSwitch]="prop[0]" class="form-group">
                <ng-container *ngSwitchCase="'textEntry'">
                    <label class="control-label"
                        for="txt{{prop[1]}}">
                        {{_current.data.textEntryData[prop[1]].title}}:</label>
                    <input type="text" class="form-control"
                        [(ngModel)]="_current.info[prop[1]]"
                        id="txt{{prop[1]}}"
                        [ngModelOptions]="{standalone:true}"
                        name="{{_current.data.textEntryData[prop[1]].title}}"
                        [value]="_current.data.textEntryData[prop[1]].default"/>
                </ng-container>
                <ng-container *ngSwitchCase="'selectable'">
                    <label class="control-label"
                        for="txt{{prop[1]}}">
                        {{_current.data.selectableData[prop[1]].title}}:</label>
                    <select class="form-control"
                            [(ngModel)]="_current.info[prop[1]]"
                            id="txt{{prop[1]}}"
                            [ngModelOptions]="{standalone:true}" >
                        <option *ngIf="_current.data.selectableData[prop[1]].default" selected>
                            {{_current.data.selectableData[prop[1]].default}}</option>
                        <option *ngFor="let opt of _current.data.selectableData[prop[1]].options">
                            {{opt}}</option>
                    </select>
                </ng-container>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-default" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button *ngIf="showAdd==true" id="btnAdd" (click)="addConfiguration()" type="button" class="btn btn-primary">Add configuration</button>
    <button *ngIf="showAdd==false" id="btnAdd" (click)="updateConfiguration()" type="button" class="btn btn-primary">Update</button>
</div>
